:root {
	--menu-colour:rgba(186, 84, 245, 1);
	--menu-accent:rgba(225, 78, 202, 1);
	--menu-active:rgba(203, 225, 78, 0.5);
	--menu-shadow:rgba(0, 0, 0, 0.2);
	--menu-spacing: 0.5rem;
	--submenu-indent: 1rem;
}