:root {
	--menu-colour:rgba(236, 37, 13, 1);
	--menu-accent:rgba(253, 93, 147, 1);
	--menu-active:rgba(147, 253, 93, 0.5);
	--menu-shadow:rgba(0, 0, 0, 0.2);
	--menu-spacing: 0.5rem;
	--submenu-indent: 1rem;
}